<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- The Log4j Configuration -->
<!-- $Id: log4j.xml,v 1.10 2007/05/18 14:32:09 msurtani Exp $ -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   <!-- The list of appenders -->
   <!-- The rolling file appender -->
   <!-- <appender name="FILE" class="org.apache.log4j.RollingFileAppender"> -->
   <!--    <param name="File" value="pubsub-bench.log"/> -->
   <!--    <param name="Append" value="false"/> -->
   <!--    <param name="Threshold" value="TRACE"/> -->
   <!--    <param name="MaxFileSize" value="100MB"/> -->
   <!--    <param name="MaxBackupIndex" value="3"/> -->
   <!--    <layout class="org.apache.log4j.PatternLayout"> -->
   <!--       <param name="ConversionPattern" value="%d [%t] %-5p [%c] %m%n"/> -->
   <!--    </layout> -->
   <!-- </appender> -->

   <!-- The console appender -->
   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="TRACE"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{${datestamp}} %-5p [%t] {%c} %m%n"/>
      </layout>
   </appender>

   <category name="bench.pubsub">
      <priority value="INFO"/>
   </category>

   <category name="bench.pubsub.PubSubWorker">
      <priority value="INFO"/>
   </category>

   <!-- Here goes the root -->
   <root>
      <priority value="INFO"/>
      <appender-ref ref="CONSOLE"/>
      <!-- <appender-ref ref="FILE"/> -->
   </root>

</log4j:configuration>
